<!DOCTYPE html>
<html>
  <head>
    <title>RailsExam1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-100">
    <header class="w-100 text-center">
      <p><%= header_title(yield(:title)) %></p>
    </header>
    <div class="wrapper container w-100">
      <div class="row">
        <div class="side_menu col-lg-2 center-block">
          <nav>
            <ul class="nav flex-column m-0 p-3">
              <li class="nav-item mb-4"><%= link_to '&#127968;ホーム'.html_safe, posts_path, class: "text-decoration-none text-dark" %></li>
              <li class="nav-item mb-4"><%= link_to '＋投稿する', new_post_path, class: "text-decoration-none text-dark" %></li>
            </ul>
          </nav>
        </div>
        <div class="post_article col-lg-10">
          <main>
              <%= yield %>
          </main>
        <div>
      </div>
    </div>
    <footer class="w-100 text-center">
      <p>今起きている事を見つけよう？</p>
    </footer>
  </body>
</html>
